[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/tomoyanonymous/min-api.git
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
